---

  - name: Create java service health check for jenkins server and agents
    become: True
    template:
      src: jenkins.json.j2
      dest: "{{ javaservice_configuration_file }}"
      mode: "0644"
    when: tags['jenkins'] == 'server'
  
  - name: enable and start consul.d service
    systemd:
      daemon_reload: yes
      name: consul
      enabled: yes
      state: restarted