---

- name: download node_exporter
  get_url:
    url: https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_ver }}/node_exporter-{{ node_exporter_ver }}.linux-amd64.tar.gz
    dest: /tmp/node_exporter-{{ node_exporter_ver }}.linux-amd64.tar.gz

- name: untar node_exporter
  unarchive:
    src: /tmp/node_exporter-{{ node_exporter_ver }}.linux-amd64.tar.gz
    dest: /tmp
    remote_src: yes

- name: create_node_exporter group
  group:
    name: node_exporter
    system: yes

- name: create node_exporter user
  user:
    name: node_exporter
    create_home: no
    system: yes

- name: copy node_exporter /user/local/bin
  copy:
    src: /tmp/node_exporter-{{ node_exporter_ver }}.linux-amd64/node_exporter
    dest: /usr/local/bin
    owner: node_exporter
    group: node_exporter
    mode: "0744"
    remote_src: yes

- name: create directory for textfile_collector
  file:
    path: /var/lib/node_exporter/textfile_collector
    state: directory
    owner: node_exporter
    group: node_exporter

- name: copy node_exporter service file
  copy:
    src: ./files/node_exporter.service
    dest: /etc/systemd/system/node_exporter.service
  notify:
    - start node_exporter service

- name: Create node exporter service configuration on agent
  become: True
  template:
    src: consul_node_exporter_service.json
    dest:  /etc/consul.d/node_exporter_service.json
    mode: "0644"
  when: tags['monitor'] == 'node_exporter'

- name: Create node exporter service configuration on prometheus server
  become: True
  template:
    src: prometheus_service.json
    dest: "{{ prometheus_service_file }}"
    mode: "0644"
  when: tags['monitor'] == 'graphan_and_prometheus'

- name: get node_exporter service status
  systemd:
    name: node_exporter
  register: node_exporter_service_status

- name: Remove file (delete file)
  ansible.builtin.file:
    path: /tmp/node_exporter-{{ node_exporter_ver }}.linux-amd64.tar.gz
    state: absent
 
