{
    "service": {
      "name": "{{ansible_nodename}}",
      "tags": [
        "$hostname"
      ],
      "port": 8080,
      "checks": [
       {
        "id": "tcp",
        "name": "tcp-8080",
        "tcp": "localhost:8080",
            "interval": "5s",
            "timeout": "20s"
          }
        ]
      }
    }
  }