{
    "service": {
      "name": "{{tags['Name']}}",
      "tags": [
        "consul_kandula_project"
      ],
      "port": 22,
      "checks": [
       {
        "id": "tcp",
        "name": "test",
        "tcp": "localhost:22",
            "interval": "5s",
            "timeout": "50s"
        }
        ]
    }
}