---
plugin: aws_ec2
cache: yes
regions:
  - us-east-1
filters:
  tag:purpose:
    - kandula_project
  instance-state-name: running
hostnames:
  - network-interface.addresses.private-ip-address
keyed_groups:
  - prefix: server-name
    key: tags['Name']
compose:
  # Use the private IP address to connect to the host
  # (note: this does not modify inventory_hostname, which is set via I(hostnames))
  ansible_host: network-interface.addresses.private-ip-address

