---

- hosts: server_name_consul_agent, server_name_consul_server
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/consul"
  vars_files:
    - "~/kandula_project/ansible/roles/consul/vars/vars.yml"

