---

- hosts: server_name_agent, server_name_server
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/consul"
  vars_files:
    - "/home/ubuntu/kandula_project/ansible/roles/consul/vars/vars.yml"


- hosts: jenkins_server, jenkins_agent
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/jenkins"
  vars_files:
    - "/home/ubuntu/kandula_project/ansible/roles/jenkins/vars/vars.yml"

- hosts: monitor_nodes_node_exporter, monitor_nodes_graphan_and_prometheus
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/monitor_node_exporter"
  vars_files:
    - "/home/ubuntu/kandula_project/ansible/roles/monitor_node_exporter/vars/vars.yml"
