---

- hosts: server_name_agent, server_name_server
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/consul"
  vars_files:
    - "/home/ubuntu/kandula_project/ansible/roles/consul/vars/vars.yml"


- hosts: jenkins_server, jenkins_agent
  remote_user: "ubuntu"
  become: true
  roles:
    - "roles/jenkins"
  vars_files:
    - "/home/ubuntu/kandula_project/ansible/roles/jenkins/vars/vars.yml"
