{
    "service": {
      "name": "jenkins service",
      "tags": [
        "consul_kandula_project_for_jenkins"
      ],
      "port": 80,
      "checks": [
       {
        "id": "tcp",
        "name": "TCP on port 80",
        "tcp": "localhost:80",
            "interval": "10s",
            "timeout": "1s"
        },
        {
       "id": "mem-util",
        "name": "Jenkins process",
        "args": ["/etc/consul.d/scriptjenkins.sh", "-limit", "256MB"],
        "interval": "10s",
        "timeout": "1s"
        }
        }
        ]
    }
}